@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.Cabecalho {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 214px;
    margin: 0 auto;
    padding: 10px;
    background: #FFFFFF;
}

nav {
    flex-grow: 1;
}

.menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    color: #737272;
    text-decoration: none;
    flex-wrap: nowrap;
    margin: 0;
    text-align: center;
}

.menu li {
    flex: 1;
    text-align: center;
}

.menu li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: #737272;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    width: 100%;
    height: 115px;
    margin: 0 auto 0 auto;
    background-color: #FAE3EB;
}

.titulo h1 {
    font-family: 'Poppins';
    font-size: 18px;
    color: #83545f;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    justify-content: center;
    display: flex;
    align-items: center;

}

.D_festa {
    width: 100%;
    height: 1350px;
    margin: 0 auto 0 auto;
    background-color: #FAE3EB;

}


.D_festa h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FAE3EB;
}

.container {

    display: flex;
    justify-content: space-between;
    align-items: start;
}



.lista h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 14px;
    line-height: 50px;
    color: #737272;
    text-align: start;
    margin-top: 80px;
    margin-left: 40px;
}

.lista {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 12px;
    line-height: 37px;
    margin-left: 40px;
    color: #737272;
}


.img_pedido1 img {

    width: 307px;
    height: 307px;
    border-radius: 50px;
    margin-top: 50px;
    margin-right: 80px;

}

.img_pedido2 img {

    width: 307px;
    height: 307px;
    border-radius: 50px;
    margin-top: 50px;
    margin-right: 80px;

}

.D_festa h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 12px;
    line-height: 37px;
    margin-left: 40px;
    color: #737272;
}

.Trufas {
    width: 100%;
    height: 700px;
    margin: 0 auto 0 auto;
    background: #FFFFFF;

}

.borda {
    border: solid red 1px;
}

.Trufas h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FAE3EB;
}

.fundo {
    width: 30%;
    margin: 0 auto 0 auto;
    height: 20px;
    background-color: #C27082;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.Copinhos {

    width: 100%;
    height: 700px;
    margin: 0 auto 0 auto;
    background: #FAE3EB;
    padding-top: 20px;

}

.Copinhos h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FAE3EB;
}

.Verrines {
    width: 100%;
    height: 1050px;
    margin: 0 auto 0 auto;
    background: #FFFFFF;

}

.Verrines h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FAE3EB;
}

.Brownies {
    width: 100%;
    height: 407px;
    margin: 0 auto 0 auto;
    background: #FAE3EB;

}

.Brownies h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FAE3EB;
}
.Brownies h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 12px;
    line-height: 37px;
    margin-left: 40px;
    color: #737272;
    align-self: flex-start;

}

.Itens_individuais {
    display: flex;
    flex-direction: column;
}

.img_individual img {

    width: 307px;
    height: 307px;
    border-radius: 50px;
    margin-top: 50px;
    margin-right: 80px;

}

.Tortas {
    width: 100%;
    height: 415px;
    margin: 0 auto 0 auto;
    background: #FFFFFF;

}

.Tortas h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FAE3EB;
}
.Tortas h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 12px;
    line-height: 37px;
    padding-top: 150px;
    margin-left: 40px;
    color: #737272;
    align-self: flex-start;
}

.Pudim {
    width: 100%;
    height: 407px;
    margin: 0 auto 0 auto;
    background: #FAE3EB;

}

.Pudim h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FAE3EB;
}
.Pudim h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 12px;
    line-height: 37px;
    margin-left: 40px;
    padding-top: 150px;
    color: #737272;
    align-self: flex-start;

}

.Ovos_pascoa {
    width: 100%;
    height: 1350px;
    margin: 0 auto 0 auto;
    background-color: white;

}


.Ovos_pascoa h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FAE3EB;
}

.Barra {
    width: 100%;
    height: 415px;
    margin: 0 auto 0 auto;
    background: #FAE3EB;

}

.Barra h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FAE3EB;
}
.Barra h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 12px;
    line-height: 37px;
    padding-top: 150px;
    margin-left: 40px;
    color: #737272;
    align-self: flex-start;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto 0 auto;
    
  }

  
  
  .coluna {
    font-family: 'Poppins';
    flex: 1;
    text-align: center;
    height: 234px;
    
  }

  .coluna h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 275;
    color:#737272;
    margin-top: 5px;
  }
  
  .coluna:not(:last-child) {
    border-right: 1px dashed #737272;
    
    margin-right: 20px;
  }

  .coluna p{
    
 text-align: start;
 margin-left: 50px;
  }

.rodape{
    width: 100% ;
    height: 429px;
    margin:0 auto 0 auto;
    background-color: white;
}

.direitos{
    width: 100% ;
    height: 69px;
    margin:0 auto 0 auto;
    background-color: #FAE3EB;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins';
    font-style: normal;
    color: #737272;
    position: absolute;
    font-weight: 275;
    line-height: 21px;
    
}